# Load Libraries and Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
data = {f[:-4]:pd.read_csv(f) for f in os.listdir() if f.endswith('.csv')}

# Looking at the Data

In [3]:
data['train']

,row_id,cfips,county,state,first_day_of_month,microbusiness_density,active
0,1001_2019-08-01,1001,Autauga County,Alabama,2019-08-01,3.007682,1249
1,1001_2019-09-01,1001,Autauga County,Alabama,2019-09-01,2.884870,1198
2,1001_2019-10-01,1001,Autauga County,Alabama,2019-10-01,3.055843,1269
3,1001_2019-11-01,1001,Autauga County,Alabama,2019-11-01,2.993233,1243
4,1001_2019-12-01,1001,Autauga County,Alabama,2019-12-01,2.993233,1243
...,...,...,...,...,...,...,...
122260,56045_2022-06-01,56045,Weston County,Wyoming,2022-06-01,1.803249,101
122261,56045_2022-07-01,56045,Weston County,Wyoming,2022-07-01,1.803249,101
122262,56045_2022-08-01,56045,Weston County,Wyoming,2022-08-01,1.785395,100
122263,56045_2022-09-01,56045,Weston County,Wyoming,2022-09-01,1.785395,100
122264,56045_2022-10-01,56045,Weston County,Wyoming,2022-10-01,1.785395,100

In [4]:
data['census_starter']

,pct_bb_2017,pct_bb_2018,pct_bb_2019,pct_bb_2020,pct_bb_2021,cfips,pct_college_2017,pct_college_2018,pct_college_2019,pct_college_2020,...,pct_it_workers_2017,pct_it_workers_2018,pct_it_workers_2019,pct_it_workers_2020,pct_it_workers_2021,median_hh_inc_2017,median_hh_inc_2018,median_hh_inc_2019,median_hh_inc_2020,median_hh_inc_2021
0,76.6,78.9,80.6,82.7,85.5,1001,14.5,15.9,16.1,16.7,...,1.3,1.1,0.7,0.6,1.1,55317,58786.0,58731,57982.0,62660.0
1,74.5,78.1,81.8,85.1,87.9,1003,20.4,20.7,21.0,20.2,...,1.4,1.3,1.4,1.0,1.3,52562,55962.0,58320,61756.0,64346.0
2,57.2,60.4,60.5,64.6,64.6,1005,7.6,7.8,7.6,7.3,...,0.5,0.3,0.8,1.1,0.8,33368,34186.0,32525,34990.0,36422.0
3,62.0,66.1,69.2,76.1,74.6,1007,8.1,7.6,6.5,7.4,...,1.2,1.4,1.6,1.7,2.1,43404,45340.0,47542,51721.0,54277.0
4,65.8,68.5,73.0,79.6,81.0,1009,8.7,8.1,8.6,8.9,...,1.3,1.4,0.9,1.1,0.9,47412,48695.0,49358,48922.0,52830.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,82.2,82.4,84.0,86.7,88.4,56037,15.3,15.2,14.8,13.7,...,0.6,0.6,1.0,0.9,1.0,71083,73008.0,74843,73384.0,76668.0
3138,83.5,85.9,87.1,89.1,90.5,56039,37.7,37.8,38.9,37.2,...,0.7,1.2,1.4,1.5,2.0,80049,83831.0,84678,87053.0,94498.0
3139,83.8,88.2,89.5,91.4,90.6,56041,11.9,10.5,11.1,12.6,...,1.2,1.2,1.4,1.7,0.9,54672,58235.0,63403,72458.0,75106.0
3140,76.4,78.3,78.2,82.8,85.4,56043,15.4,15.0,15.4,15.0,...,1.3,1.0,0.9,0.9,1.1,51362,53426.0,54158,57306.0,62271.0
3141,71.1,73.3,76.8,79.7,81.3,56045,14.1,13.5,13.4,12.7,...,0.6,0.6,0.0,0.0,0.0,59605,52867.0,57031,53333.0,65566.0

In [5]:
data['test']

                 row_id  cfips first_day_of_month
0       1001_2022-11-01   1001         2022-11-01
1       1003_2022-11-01   1003         2022-11-01
2       1005_2022-11-01   1005         2022-11-01
3       1007_2022-11-01   1007         2022-11-01
4       1009_2022-11-01   1009         2022-11-01
...                 ...    ...                ...
25075  56037_2023-06-01  56037         2023-06-01
25076  56039_2023-06-01  56039         2023-06-01
25077  56041_2023-06-01  56041         2023-06-01
25078  56043_2023-06-01  56043         2023-06-01
25079  56045_2023-06-01  56045         2023-06-01

[25080 rows x 3 columns]

In [6]:
data['sample_submission']

                 row_id  microbusiness_density
0       1001_2022-11-01               3.817671
1       1003_2022-11-01               3.817671
2       1005_2022-11-01               3.817671
3       1007_2022-11-01               3.817671
4       1009_2022-11-01               3.817671
...                 ...                    ...
25075  56037_2023-06-01               3.817671
25076  56039_2023-06-01               3.817671
25077  56041_2023-06-01               3.817671
25078  56043_2023-06-01               3.817671
25079  56045_2023-06-01               3.817671

[25080 rows x 2 columns]

# Preprocessing

In [7]:
import sklearn.model_selection as skms

In [8]:
data['train']['istest'] = False
data['test']['istest'] = True

In [9]:
data['main'] = pd.concat((data['train'], data['test']))
data['main'].sort_values('row_id', inplace=True)
data['main'].reset_index(drop=True, inplace=True)

In [10]:
data['merged'] = data['main'].merge(data['census_starter'], how='left',on= 'cfips')

In [11]:
data['merged']['first_day_of_month'] = pd.to_datetime(data['merged']['first_day_of_month'])

In [12]:
data['merged']['year'] = data['merged']['first_day_of_month'].apply(lambda x: x.year)

In [13]:
data['merged']['county'] = data['merged'].groupby('cfips')['county'].ffill()
data['merged']['state'] = data['merged'].groupby('cfips')['state'].ffill()
data['merged']["dcount"] = data['merged'].groupby(['cfips', 'istest'])['row_id'].cumcount()

In [14]:
years = [2019, 2020, 2021, 2022]
for year in years:
    pct_bb_name = 'pct_bb_{}'.format(year-1)
    pct_college_name = 'pct_college_{}'.format(year-1)
    pct_foreign_born_name = 'pct_foreign_born_{}'.format(year-1)
    pct_it_workers_name = 'pct_it_workers_{}'.format(year-1)
    median_hh_inc_name = 'median_hh_inc_{}'.format(year-1)
    
    data['merged'].loc[data['merged']['year'] == year, 'pct_bb'] = data['merged'][pct_bb_name]
    data['merged'].loc[data['merged']['year'] == year, 'pct_college'] = data['merged'][pct_college_name]
    data['merged'].loc[data['merged']['year'] == year, 'pct_foreign_born'] = data['merged'][pct_foreign_born_name]
    data['merged'].loc[data['merged']['year'] == year, 'pct_it_workers'] = data['merged'][pct_it_workers_name]
    data['merged'].loc[data['merged']['year'] == year, 'median_hh_inc'] = data['merged'][median_hh_inc_name]

data['merged'].loc[data['merged']['year'] == 2023, 'pct_bb'] = data['merged']['pct_bb_2021']
data['merged'].loc[data['merged']['year'] == 2023, 'pct_college'] = data['merged']['pct_college_2021'] 
data['merged'].loc[data['merged']['year'] == 2023, 'pct_foreign_born'] = data['merged']['pct_foreign_born_2021'] 
data['merged'].loc[data['merged']['year'] == 2023, 'pct_it_workers'] = data['merged']['pct_it_workers_2021']
data['merged'].loc[data['merged']['year'] == 2023, 'median_hh_inc'] = data['merged']['median_hh_inc_2021']

In [15]:
data['merged'].drop([
  'active', 'pct_bb_2017', 'pct_bb_2018', 'pct_bb_2019', 'pct_bb_2020',
  'pct_bb_2021', 'pct_college_2017', 'pct_college_2018',
  'pct_college_2019', 'pct_college_2020', 'pct_college_2021',
  'pct_foreign_born_2017', 'pct_foreign_born_2018',
  'pct_foreign_born_2019', 'pct_foreign_born_2020',
  'pct_foreign_born_2021', 'pct_it_workers_2017', 'pct_it_workers_2018',
  'pct_it_workers_2019', 'pct_it_workers_2020', 'pct_it_workers_2021',
  'median_hh_inc_2017', 'median_hh_inc_2018', 'median_hh_inc_2019',
  'median_hh_inc_2020', 'median_hh_inc_2021'
], axis=1, inplace=True)

In [16]:
lag_features = []
for lag in range(1, 12):
  lag_feat_name = 'lag_{}'.format(lag)
  data['merged'][lag_feat_name] = data['merged'].groupby('cfips')['microbusiness_density'].shift(lag).bfill()
  lag_features.append(lag_feat_name)

In [17]:
data['merged'].loc[(data['merged']['cfips'] == 35039) & (data['merged']['pct_it_workers'].isna()), 'pct_it_workers'] = \
  data['merged'].loc[(data['merged']['cfips'] == 35039), 'pct_it_workers'].mean()

In [18]:
data['merged'].loc[(data['merged']['cfips'] == 35039) & (data['merged']['median_hh_inc'].isna()), 'median_hh_inc'] = \
  data['merged'].loc[(data['merged']['cfips'] == 35039), 'median_hh_inc'].bfill()

In [19]:
data['merged'].loc[(data['merged']['cfips'] == 48243) & (data['merged']['median_hh_inc'].isna()), 'median_hh_inc'] = \
  data['merged'].loc[(data['merged']['cfips'] == 48243), 'median_hh_inc'].mean()

In [20]:
data['merged'].loc[(data['merged']['cfips'] == 48301) & (data['merged']['median_hh_inc'].isna()), 'median_hh_inc'] = \
  data['merged'].loc[(data['merged']['cfips'] == 48301), 'median_hh_inc'].fillna(0)

In [21]:
train = data['merged'].loc[(data['merged']['istest'] == 0) & ((data['merged']['dcount'] > 10) & (data['merged']['dcount'] <= 38))]
test = data['merged'].loc[data['merged']['istest'] == 1]

In [22]:
features = [
  'pct_bb', 'pct_college', 'pct_foreign_born', 'pct_it_workers', 'median_hh_inc', 'lag_1', 'lag_2',
  'lag_3', 'lag_4', 'lag_5', 'lag_6', 'lag_7', 'lag_8', 'lag_9', 'lag_10', 'lag_11'
]
train_X = train[features]
train_у = train['microbusiness_density']

In [23]:
train_X, valid_X, train_у, valid_y = skms.train_test_split(train_X, train_у, train_size=0.8)

# Testing

In [24]:
def smape(a, f):
  return 1/len(a) * np.sum(2 * np.abs(f-a) / (np.abs(a) + np.abs(f))*100)

In [25]:
smape(np.random.random(1000), np.random.random(1000))

76.61751571489856

In [26]:
k = np.random.random(10)
smape(k, k)

0.0

# A dummy solution

In [27]:
# Zeros
smape(valid_y, np.zeros_like(valid_y))

199.95443153337888

In [28]:
# Mean
smape(valid_y, np.ones_like(valid_y)*np.mean(valid_y))

62.325021202572245

# Hella basic models

In [29]:
from sklearn.linear_model import LinearRegression

In [30]:
m = LinearRegression().fit(train_X, train_у)
smape(valid_y, m.predict(valid_X))

2.6056743072838784

In [31]:
from sklearn.tree import DecisionTreeRegressor

In [32]:
m = DecisionTreeRegressor().fit(train_X, train_у)
smape(valid_y, m.predict(valid_X))

2.774320178077087

# Neural Networks

In [33]:
from sklearn.neural_network import MLPRegressor

In [34]:
# TODO add scaling
m = MLPRegressor(hidden_layer_sizes=(15, 8, 4, 2)).fit(train_X, train_у)
smape(valid_y, m.predict(valid_X))

59.798108979609665

# Boosted Models

In [35]:
from sklearn.ensemble import RandomForestRegressor

In [36]:
m = RandomForestRegressor(bootstrap=True, n_jobs=-1).fit(train_X, train_у)
smape(valid_y, m.predict(valid_X))

1.9568554135577585

# Let's Submit

In [37]:
steps = 8
count = 0
for step in range(8):
  
  features = [
    'pct_bb', 'pct_college', 'pct_foreign_born', 'pct_it_workers',
    'median_hh_inc', 'lag_1', 'lag_2', 'lag_3', 'lag_4', 'lag_5', 'lag_6',
    'lag_7', 'lag_8', 'lag_9', 'lag_10', 'lag_11'
  ]
  
  test_indices = (test['istest'] == 1) & (test['dcount'] == step)
  test.loc[test_indices, 'microbusiness_density'] = m.predict(
      test.loc[test_indices, features])
  preds = m.predict(test.loc[test_indices, features])

  for i in range(1, steps):
    lag_name = 'lag_{}'.format(i)
    test.loc[test['dcount'] == i+count, lag_name] = preds
  count += 1       
  steps -= 1

C:\Users\kidsw\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
C:\Users\kidsw\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
C:\Users\kidsw\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
C:\Users\kidsw\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
C:\Users\kidsw\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
C:\Users\kidsw\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
C:\Users\kidsw\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
C:\Users\kidsw\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
C:\Users\kidsw\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
C:\Users\kidsw\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
C:\Users\kidsw\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
C:\Users\kidsw\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
C:\Users\kidsw\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
C:\Users\kidsw\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
C:\Users\kidsw\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [38]:
sub_new = test.loc[test.istest==1, ['row_id', 'microbusiness_density']].copy()

In [39]:
sub_new.to_csv('submission.csv', index=False)