# Load Libraries and Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
data = {f[:-4]:pd.read_csv(f) for f in os.listdir() if f.endswith('.csv')}

# Looking at the Data

In [3]:
data['train']

,row_id,cfips,county,state,first_day_of_month,microbusiness_density,active
0,1001_2019-08-01,1001,Autauga County,Alabama,2019-08-01,3.007682,1249
1,1001_2019-09-01,1001,Autauga County,Alabama,2019-09-01,2.884870,1198
2,1001_2019-10-01,1001,Autauga County,Alabama,2019-10-01,3.055843,1269
3,1001_2019-11-01,1001,Autauga County,Alabama,2019-11-01,2.993233,1243
4,1001_2019-12-01,1001,Autauga County,Alabama,2019-12-01,2.993233,1243
...,...,...,...,...,...,...,...
122260,56045_2022-06-01,56045,Weston County,Wyoming,2022-06-01,1.803249,101
122261,56045_2022-07-01,56045,Weston County,Wyoming,2022-07-01,1.803249,101
122262,56045_2022-08-01,56045,Weston County,Wyoming,2022-08-01,1.785395,100
122263,56045_2022-09-01,56045,Weston County,Wyoming,2022-09-01,1.785395,100
122264,56045_2022-10-01,56045,Weston County,Wyoming,2022-10-01,1.785395,100

In [4]:
data['census_starter']

,pct_bb_2017,pct_bb_2018,pct_bb_2019,pct_bb_2020,pct_bb_2021,cfips,pct_college_2017,pct_college_2018,pct_college_2019,pct_college_2020,...,pct_it_workers_2017,pct_it_workers_2018,pct_it_workers_2019,pct_it_workers_2020,pct_it_workers_2021,median_hh_inc_2017,median_hh_inc_2018,median_hh_inc_2019,median_hh_inc_2020,median_hh_inc_2021
0,76.6,78.9,80.6,82.7,85.5,1001,14.5,15.9,16.1,16.7,...,1.3,1.1,0.7,0.6,1.1,55317,58786.0,58731,57982.0,62660.0
1,74.5,78.1,81.8,85.1,87.9,1003,20.4,20.7,21.0,20.2,...,1.4,1.3,1.4,1.0,1.3,52562,55962.0,58320,61756.0,64346.0
2,57.2,60.4,60.5,64.6,64.6,1005,7.6,7.8,7.6,7.3,...,0.5,0.3,0.8,1.1,0.8,33368,34186.0,32525,34990.0,36422.0
3,62.0,66.1,69.2,76.1,74.6,1007,8.1,7.6,6.5,7.4,...,1.2,1.4,1.6,1.7,2.1,43404,45340.0,47542,51721.0,54277.0
4,65.8,68.5,73.0,79.6,81.0,1009,8.7,8.1,8.6,8.9,...,1.3,1.4,0.9,1.1,0.9,47412,48695.0,49358,48922.0,52830.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,82.2,82.4,84.0,86.7,88.4,56037,15.3,15.2,14.8,13.7,...,0.6,0.6,1.0,0.9,1.0,71083,73008.0,74843,73384.0,76668.0
3138,83.5,85.9,87.1,89.1,90.5,56039,37.7,37.8,38.9,37.2,...,0.7,1.2,1.4,1.5,2.0,80049,83831.0,84678,87053.0,94498.0
3139,83.8,88.2,89.5,91.4,90.6,56041,11.9,10.5,11.1,12.6,...,1.2,1.2,1.4,1.7,0.9,54672,58235.0,63403,72458.0,75106.0
3140,76.4,78.3,78.2,82.8,85.4,56043,15.4,15.0,15.4,15.0,...,1.3,1.0,0.9,0.9,1.1,51362,53426.0,54158,57306.0,62271.0
3141,71.1,73.3,76.8,79.7,81.3,56045,14.1,13.5,13.4,12.7,...,0.6,0.6,0.0,0.0,0.0,59605,52867.0,57031,53333.0,65566.0

In [5]:
data['test']

                 row_id  cfips first_day_of_month
0       1001_2022-11-01   1001         2022-11-01
1       1003_2022-11-01   1003         2022-11-01
2       1005_2022-11-01   1005         2022-11-01
3       1007_2022-11-01   1007         2022-11-01
4       1009_2022-11-01   1009         2022-11-01
...                 ...    ...                ...
25075  56037_2023-06-01  56037         2023-06-01
25076  56039_2023-06-01  56039         2023-06-01
25077  56041_2023-06-01  56041         2023-06-01
25078  56043_2023-06-01  56043         2023-06-01
25079  56045_2023-06-01  56045         2023-06-01

[25080 rows x 3 columns]

In [6]:
data['sample_submission']

                 row_id  microbusiness_density
0       1001_2022-11-01               3.817671
1       1003_2022-11-01               3.817671
2       1005_2022-11-01               3.817671
3       1007_2022-11-01               3.817671
4       1009_2022-11-01               3.817671
...                 ...                    ...
25075  56037_2023-06-01               3.817671
25076  56039_2023-06-01               3.817671
25077  56041_2023-06-01               3.817671
25078  56043_2023-06-01               3.817671
25079  56045_2023-06-01               3.817671

[25080 rows x 2 columns]

# Preprocessing

In [7]:
import sklearn.model_selection as skms

In [8]:
data['train']['istest'] = False
data['test']['istest'] = True

In [9]:
data['main'] = pd.concat((data['train'], data['test']))
data['main'].sort_values(['cfips','row_id'], inplace=True)
data['main'].reset_index(drop=True, inplace=True)

In [10]:
data['main']['first_day_of_month'] = pd.to_datetime(data['main']["first_day_of_month"])
data['main']['county'] = data['main'].groupby('cfips')['county'].ffill()
data['main']['state'] = data['main'].groupby('cfips')['state'].ffill()
data['main']["year"] = data['main']["first_day_of_month"].dt.year
data['main']["month"] = data['main']["first_day_of_month"].dt.month
data['main']["dcount"] = data['main'].groupby(['cfips'])['row_id'].cumcount()
data['main']['county_i'] = (data['main']['county'] + data['main']['state']).factorize()[0]
data['main']['state_i'] = data['main']['state'].factorize()[0]

## Removing Outliers

In [11]:
outliers = []
cnt = 0
for o in data['main'].cfips.unique():
  indices = (data['main']['cfips']==o)
  tmp = data['main'].loc[indices].copy().reset_index(drop=True)
  var = tmp.microbusiness_density.values.copy()
  for i in range(37, 2, -1):
    thr = 0.20*np.mean(var[:i])
    difa = abs(var[i]-var[i-1])
    if (difa>=thr):
      var[:i] *= (var[i]/var[i-1])
      outliers.append(o)
      cnt+=1
  var[0] = var[1]*0.99
  data['main'].loc[indices, 'microbusiness_density'] = var

outliers = np.unique(outliers)
len(outliers), cnt

<ipython-input-11-5978fada9874>:11: RuntimeWarning: invalid value encountered in double_scalars
  var[:i] *= (var[i]/var[i-1])
<ipython-input-11-5978fada9874>:11: RuntimeWarning: divide by zero encountered in double_scalars
  var[:i] *= (var[i]/var[i-1])
<ipython-input-11-5978fada9874>:11: RuntimeWarning: invalid value encountered in multiply
  var[:i] *= (var[i]/var[i-1])
<ipython-input-11-5978fada9874>:9: RuntimeWarning: invalid value encountered in double_scalars
  difa = abs(var[i]-var[i-1])

(481, 732)

## Handle SMAPE Issues

In [12]:
def smape(a, f):
  return 1/len(a) * np.sum(2 * np.abs(f-a) / (np.abs(a) + np.abs(f))*100)

In [13]:
data['main']['target'] = data['main'].groupby('cfips')['microbusiness_density'].shift(-1)
data['main']['target'] = data['main']['target']/data['main']['microbusiness_density'] - 1

data['main'].loc[data['main']['cfips']==28055, 'target'] = 0.0
data['main'].loc[data['main']['cfips']==48269, 'target'] = 0.0

In [14]:
data['main']['lastactive'] = data['main'].groupby('cfips')['active'].transform('last')

dt = data['main'].loc[data['main'].dcount==28].groupby('cfips')['microbusiness_density'].agg('last')
data['main']['lasttarget'] = data['main']['cfips'].map(dt)

## Feature Engineering

In [15]:
def build_features(raw, target='microbusiness_density', target_act='active_tmp', lags = 6):
  feats = []
  for lag in range(1, lags):
    raw[f'mbd_lag_{lag}'] = raw.groupby('cfips')[target].shift(lag)
    raw[f'act_lag_{lag}'] = raw.groupby('cfips')[target_act].diff(lag)
    feats.append(f'mbd_lag_{lag}')
    feats.append(f'act_lag_{lag}')
  lag = 1
  for window in [2, 4, 6, 8, 10]:
    raw[f'mbd_rollmea{window}_{lag}'] = raw.groupby('cfips')[f'mbd_lag_{lag}'].transform(lambda s: s.rolling(window, min_periods=1).sum())    
    feats.append(f'mbd_rollmea{window}_{lag}')
  return raw, feats

In [16]:
raw, feats = build_features(data['main'], 'target', 'active', lags = 5)
features = ['state_i'] + feats

# The Triple Wammy

In [17]:
def get_model():
  from sklearn.ensemble import VotingRegressor
  import lightgbm as lgb
  import xgboost as xgb
  import catboost as cat

  params = {
  'verbosity': -1,
  'objective': 'l1',
  'colsample_bytree': 0.8841279649367693,
  'colsample_bynode': 0.10142964450634374,
  'max_depth': 8,
  'learning_rate': 0.013647749926797374,
  'lambda_l1': 1.8386216853616875,
  'lambda_l2': 7.557660410418351,
  'num_leaves': 61,
  'min_data_in_leaf': 213}

  lgb_model = lgb.LGBMRegressor(**params)

  xgb_model = xgb.XGBRegressor(
    objective='reg:pseudohubererror',
    tree_method="hist",
    n_estimators=794,
    learning_rate=0.0075,
    max_leaves = 17,
    subsample=0.50,
    colsample_bytree=0.50,
    max_bin=4096,
    n_jobs=2,
  )

  cat_model = cat.CatBoostRegressor(
    iterations=1200,
    loss_function="MAPE",
    verbose=0,
    learning_rate=0.075,
    l2_leaf_reg=0.2,
    subsample=0.50,
    max_bin=4096,
  )

  return VotingRegressor([
    ('xgb', xgb_model),
    ('lgb', lgb_model),
    ('cat', cat_model)
  ])

In [18]:
blacklist = [
  'North Dakota', 'Iowa', 'Kansas', 'Nebraska', 'South Dakota','New Mexico', 'Alaska', 'Vermont'
]
blacklistcfips = data['blacklist_cfips']
ACT_THR = 1.8
ABS_THR = 1.00
data['main']['ypred_last'] = np.nan
data['main']['ypred'] = np.nan
data['main']['k'] = 1.
VAL = []

for TS in range(29, 38):
  print(TS)
  model = get_model()
  train_indices = (data['main'].istest==0) & (data['main'].dcount  < TS) & (data['main'].dcount >= 1) & (data['main'].lastactive>ACT_THR)  & (data['main'].lasttarget>ABS_THR) 
  valid_indices = (data['main'].istest==0) & (data['main'].dcount == TS)
  model.fit(
    data['main'].loc[train_indices, features],
    data['main'].loc[train_indices, 'target'].clip(-0.0043, 0.0045),
  )
  ypred = model.predict(data['main'].loc[valid_indices, features])
  data['main'].loc[valid_indices, 'k'] = ypred + 1
  data['main'].loc[valid_indices,'k'] = data['main'].loc[valid_indices,'k'] * data['main'].loc[valid_indices,'microbusiness_density']
  # Validate
  lastval = data['main'].loc[data['main'].dcount==TS, ['cfips', 'microbusiness_density']].set_index('cfips').to_dict()['microbusiness_density']
  dt = data['main'].loc[data['main'].dcount==TS, ['cfips', 'k']].set_index('cfips').to_dict()['k']
  df = data['main'].loc[data['main'].dcount==(TS+1), ['cfips', 'microbusiness_density', 'state', 'lastactive', 'mbd_lag_1']].reset_index(drop=True)
  df['pred'] = df['cfips'].map(dt)
  df['lastval'] = df['cfips'].map(lastval)
  df.loc[df['lastactive']<=ACT_THR, 'pred'] = df.loc[df['lastactive']<=ACT_THR, 'lastval']
  df.loc[df['lastval']<=ABS_THR, 'pred'] = df.loc[df['lastval']<=ABS_THR, 'lastval']
  df.loc[df['state'].isin(blacklist), 'pred'] = df.loc[df['state'].isin(blacklist), 'lastval']
  df.loc[df['cfips'].isin(blacklistcfips), 'pred'] = df.loc[df['cfips'].isin(blacklistcfips), 'lastval']
  data['main'].loc[data['main'].dcount==(TS+1), 'ypred'] = df['pred'].values
  data['main'].loc[data['main'].dcount==(TS+1), 'ypred_last'] = df['lastval'].values
  print(f'TS: {TS}')
  print('Last Value SMAPE:', smape(df['microbusiness_density'], df['lastval']) )
  print('SMAPE:', smape(df['microbusiness_density'], df['pred']))
  print()


ind = (data['main'].dcount>=30)&(data['main'].dcount<=38)
print( 'SMAPE:', smape( data['main'].loc[ind, 'microbusiness_density'],  data['main'].loc[ind, 'ypred'] ) )
print( 'Last Value SMAPE:', smape( data['main'].loc[ind, 'microbusiness_density'],  data['main'].loc[ind, 'ypred_last'] ) )

29

C:\Users\kidsw\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\lightgbm\engine.py:177: UserWarning: Found `n_iter` in params. Will use it instead of argument
  _log_warning(f"Found `{alias}` in params. Will use it instead of argument")

[LightGBM] [Warning] min_data_in_leaf is set=213, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=213
[LightGBM] [Warning] lambda_l1 is set=1.8386216853616875, reg_alpha=0.0 will be ignored. Current value: lambda_l1=1.8386216853616875
[LightGBM] [Warning] lambda_l2 is set=7.557660410418351, reg_lambda=0.0 will be ignored. Current value: lambda_l2=7.557660410418351
[LightGBM] [Warning] num_iterations is set=200, n_iter=200 will be ignored. Current value: num_iterations=200
TS: 29
Last Value SMAPE: 1.0868726017655663
SMAPE: 1.0918733918660937

30
[LightGBM] [Warning] min_data_in_leaf is set=213, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=213
[LightGBM] [Warning] lambda_l1 is set=1.8386216853616875, reg_alpha=0.0 will be ignored. Current value: lambda_l1=1.8386216853616875
[LightGBM] [Warning] lambda_l2 is set=7.557660410418351, reg_lambda=0.0 will be ignored. Current value: lambda_l2=7.557660410418351
[LightGBM] [Warning] num_iterations is set=200, n_iter=200 will be ignored. Current value: num_iterations=200
TS: 30
Last Value SMAPE: 1.318087470449913
SMAPE: 1.281259840524994

31
[LightGBM] [Warning] min_data_in_leaf is set=213, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=213
[LightGBM] [Warning] lambda_l1 is set=1.8386216853616875, reg_alpha=0.0 will be ignored. Current value: lambda_l1=1.8386216853616875
[LightGBM] [Warning] lambda_l2 is set=7.557660410418351, reg_lambda=0.0 will be ignored. Current value: lambda_l2=7.557660410418351
[LightGBM] [Warning] num_iterations is set=200, n_iter=200 will be ignored. Current value: num_iterations=200
TS: 31
Last Value SMAPE: 1.1258309832479911
SMAPE: 1.1078488813552592

32
[LightGBM] [Warning] min_data_in_leaf is set=213, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=213
[LightGBM] [Warning] lambda_l1 is set=1.8386216853616875, reg_alpha=0.0 will be ignored. Current value: lambda_l1=1.8386216853616875
[LightGBM] [Warning] lambda_l2 is set=7.557660410418351, reg_lambda=0.0 will be ignored. Current value: lambda_l2=7.557660410418351
[LightGBM] [Warning] num_iterations is set=200, n_iter=200 will be ignored. Current value: num_iterations=200
TS: 32
Last Value SMAPE: 0.8979694396402348
SMAPE: 0.9371515593115229

33
[LightGBM] [Warning] min_data_in_leaf is set=213, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=213
[LightGBM] [Warning] lambda_l1 is set=1.8386216853616875, reg_alpha=0.0 will be ignored. Current value: lambda_l1=1.8386216853616875
[LightGBM] [Warning] lambda_l2 is set=7.557660410418351, reg_lambda=0.0 will be ignored. Current value: lambda_l2=7.557660410418351
[LightGBM] [Warning] num_iterations is set=200, n_iter=200 will be ignored. Current value: num_iterations=200
TS: 33
Last Value SMAPE: 1.3686285670946152
SMAPE: 1.3668191081511214

34
[LightGBM] [Warning] min_data_in_leaf is set=213, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=213
[LightGBM] [Warning] lambda_l1 is set=1.8386216853616875, reg_alpha=0.0 will be ignored. Current value: lambda_l1=1.8386216853616875
[LightGBM] [Warning] lambda_l2 is set=7.557660410418351, reg_lambda=0.0 will be ignored. Current value: lambda_l2=7.557660410418351
[LightGBM] [Warning] num_iterations is set=200, n_iter=200 will be ignored. Current value: num_iterations=200
TS: 34
Last Value SMAPE: 2.2033066808448547
SMAPE: 2.1208607546266527

35
[LightGBM] [Warning] min_data_in_leaf is set=213, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=213
[LightGBM] [Warning] lambda_l1 is set=1.8386216853616875, reg_alpha=0.0 will be ignored. Current value: lambda_l1=1.8386216853616875
[LightGBM] [Warning] lambda_l2 is set=7.557660410418351, reg_lambda=0.0 will be ignored. Current value: lambda_l2=7.557660410418351
[LightGBM] [Warning] num_iterations is set=200, n_iter=200 will be ignored. Current value: num_iterations=200
TS: 35
Last Value SMAPE: 1.2797936949214384
SMAPE: 1.3566466959048253

36
[LightGBM] [Warning] min_data_in_leaf is set=213, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=213
[LightGBM] [Warning] lambda_l1 is set=1.8386216853616875, reg_alpha=0.0 will be ignored. Current value: lambda_l1=1.8386216853616875
[LightGBM] [Warning] lambda_l2 is set=7.557660410418351, reg_lambda=0.0 will be ignored. Current value: lambda_l2=7.557660410418351
[LightGBM] [Warning] num_iterations is set=200, n_iter=200 will be ignored. Current value: num_iterations=200
TS: 36
Last Value SMAPE: 1.034314865882525
SMAPE: 1.0321121253157144

37
[LightGBM] [Warning] min_data_in_leaf is set=213, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=213
[LightGBM] [Warning] lambda_l1 is set=1.8386216853616875, reg_alpha=0.0 will be ignored. Current value: lambda_l1=1.8386216853616875
[LightGBM] [Warning] lambda_l2 is set=7.557660410418351, reg_lambda=0.0 will be ignored. Current value: lambda_l2=7.557660410418351
[LightGBM] [Warning] num_iterations is set=200, n_iter=200 will be ignored. Current value: num_iterations=200
TS: 37
Last Value SMAPE: 1.1011190959563657
SMAPE: 1.071773272724489

SMAPE: 1.2629272921978527
Last Value SMAPE: 1.2684359333115005

In [19]:
TS = 38
print(TS)

model0 = get_model()
model1 = get_model()

train_indices = (data['main'].istest==0) & (data['main'].dcount  < TS) & (data['main'].dcount >= 1) & (data['main'].lastactive>ACT_THR)  & (data['main'].lasttarget>ABS_THR) 
valid_indices = (data['main'].dcount == TS)
model0.fit(
    data['main'].loc[train_indices, features],
    data['main'].loc[train_indices, 'target'].clip(-0.0044, 0.0046),
)
model1.fit(
    data['main'].loc[train_indices, features],
    data['main'].loc[train_indices, 'target'].clip(-0.0044, 0.0046),
)

ypred = (model0.predict(data['main'].loc[valid_indices, features]) + model1.predict(data['main'].loc[valid_indices, features]))/2
data['main'].loc[valid_indices, 'k'] = ypred + 1.
data['main'].loc[valid_indices,'k'] = data['main'].loc[valid_indices,'k'] * data['main'].loc[valid_indices,'microbusiness_density']

# Validate
lastval = data['main'].loc[data['main'].dcount==TS, ['cfips', 'microbusiness_density']].set_index('cfips').to_dict()['microbusiness_density']
dt = data['main'].loc[data['main'].dcount==TS, ['cfips', 'k']].set_index('cfips').to_dict()['k']

38
[LightGBM] [Warning] min_data_in_leaf is set=213, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=213
[LightGBM] [Warning] lambda_l1 is set=1.8386216853616875, reg_alpha=0.0 will be ignored. Current value: lambda_l1=1.8386216853616875
[LightGBM] [Warning] lambda_l2 is set=7.557660410418351, reg_lambda=0.0 will be ignored. Current value: lambda_l2=7.557660410418351
[LightGBM] [Warning] num_iterations is set=200, n_iter=200 will be ignored. Current value: num_iterations=200

In [20]:
df = raw.loc[raw.dcount==(TS+1), ['cfips', 'microbusiness_density', 'state', 'lastactive', 'mbd_lag_1']].reset_index(drop=True)
df['pred'] = df['cfips'].map(dt)
df['lastval'] = df['cfips'].map(lastval)

df.loc[df['lastactive']<=ACT_THR, 'pred'] = df.loc[df['lastactive']<=ACT_THR, 'lastval']
df.loc[df['lastval']<=ABS_THR, 'pred'] = df.loc[df['lastval']<=ABS_THR, 'lastval']
df.loc[df['state'].isin(blacklist), 'pred'] = df.loc[df['state'].isin(blacklist), 'lastval']
df.loc[df['cfips'].isin(blacklistcfips), 'pred'] = df.loc[df['cfips'].isin(blacklistcfips), 'lastval']
raw.loc[raw.dcount==(TS+1), 'ypred'] = df['pred'].values
raw.loc[raw.dcount==(TS+1), 'ypred_last'] = df['lastval'].values

In [27]:
dt = raw.loc[raw.dcount==39, ['cfips', 'ypred']].set_index('cfips').to_dict()['ypred']
test = raw.loc[raw.istest==1, ['row_id', 'cfips','microbusiness_density']].copy()
test['microbusiness_density'] = test['cfips'].map(dt)

test = test[['row_id','microbusiness_density']]

# Submit!

In [28]:
test.to_csv('submission.csv', index=False)

## Comparing Submissions

In [29]:
sub1 = pd.read_csv('submission.csv')
sub2 = pd.read_csv('submission-1.0859.csv')
smape(sub1['microbusiness_density'], sub2['microbusiness_density'])

0.027414823260517984